<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824040169201-0luud4b732v0og7req566f74q8s9u52t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824040169201-0luud4b732v0og7req566f74q8s9u52t</string>
	<key>API_KEY</key>
	<string>AIzaSyBiD0G-wEYalbaIkVvfWKqf35WK6GD6mXM</string>
	<key>GCM_SENDER_ID</key>
	<string>824040169201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cross</string>
	<key>PROJECT_ID</key>
	<string>kurultai-32103</string>
	<key>STORAGE_BUCKET</key>
	<string>kurultai-32103.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824040169201:ios:0ebe0a51692b9548b6d350</string>
</dict>
</plist>